@media (max-width: 500px) {

    /* -------------------------------------------------------------------------------------- */
    body
    {
        background-image: url("Images/Wallpaper/WallpaperMobile.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow-y: scroll;
    }
    h1
    {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
    }
    h2
    {
        font-size: 15px;
    }
    #logo
    {
        height: 30px;
    }

    /* --------------------------------------Navigation-------------------------------------- */
    #Home_Nav
    {
        width: 100%;
        height: 30px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    /* -------------------------------------------------------------------------------------- */
    /* --------------------------------------Containers-------------------------------------- */
    #containerLogin, #containerCreate, #containerAbout, #containerForgot
    {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        height: fit-content;
        margin: auto;
        padding: 30px;
        border-radius: 30px;
        position: relative;
    }
    #containerLogin , #containerCreate, #containerForgot
    {
        max-width: 250px;
        text-align: center;
    }
    #containerAbout
    {
        min-width: 200px;
        width: 80%;
        font-size: 12px;
        margin-top: 20px;
    }

    /* -------------------------------------------------------------------------------------- */

    /* ---------------------------------------Buttons---------------------------------------  */
    /* -----------------------------Nav buttons-----------------------------*/
    .Button_Nav
    {
        position: relative;
        display: flex;
        align-items: center;
        width: 70px;
        height: 30px;
        float: right;
        white-space: nowrap;
        font-size: 12px;
    }
    .icon
    {
        width: 0;
        transition: 0.3s;
    }
    .Label_Nav
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }
    /* ------------Login page & Create new account page buttons------------*/
    .Button_Form
    {
        padding: 6px;
        font-size: 12px;
    }
    .Login_Button, .Clear_Button
    {
        width: 100px;
        margin: 8px auto;
    }
    .Create_Button, .Forgot_Button
    {
        width: 220px;
        margin: 8px auto;
    }

    /* ----------------------------Button color----------------------------*/
    .Button_Nav, .Button_Form, .CreateInput, .LoginInput, .ForgotInput
    {
        background-color: #e6733e;
        border: 2px solid #e6733e;
        border-radius: 35px;
        text-align: center;
        color: black;
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }
    /* ----------------------------Button hover----------------------------*/
    .Button_Nav:hover, .Button_Form:hover

    {
        background-color: #e38459;
        border: 2px solid #e38459;
    }
    .Button_Nav:hover
    {
        width: 94px;
    }
    .Button_Nav:hover .icon
    {
        width: 24px;
    }
    .Button_Nav:hover .Label_Nav
    {
        margin-left: 12px;
    }
    /* ----------------------------Input hover----------------------------*/
    .CreateInput, .LoginInput, .ForgotInput
    {
        background-color: #e6733e;
        width: auto;
        margin: 5px;
        padding: 5px;
        font-size: 12px;
    }
    .CreateInput:focus, .LoginInput:focus, .ForgotInput:focus
    {
        outline-color: #e38459;
    }
}

/* ------------------------------- For tablet -----------------------------------------------------*/

@media (max-width: 1023px) and (min-width: 501px) {
    /* --------------------------------------Scroll Bar-------------------------------------- */
    ::-webkit-scrollbar
    {
        width: 10px;
    }
    ::-webkit-scrollbar-track
    {
        background-color: #e6733e;
    }
    ::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        background-color: #BE4B16;
    }
    /* -------------------------------------------------------------------------------------- */
    body
    {
        background-image: url("Images/Wallpaper/WallpaperTablet.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        overflow-y: scroll;
    }
    h1
    {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 40px;
    }
    h2
    {
        font-size: 20px;
    }
    p
    {
        font-size: 17px;
    }
    #logo
    {
        height: 50px;
    }

    /* --------------------------------------Navigation-------------------------------------- */
    #Home_Nav
    {
        width: 100%;
        height: 50px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    /* -------------------------------------------------------------------------------------- */
    /* --------------------------------------Containers-------------------------------------- */
    #containerLogin, #containerCreate, #containerForgot
    {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        height: auto;
        margin: auto;
        padding: 30px;
        border-radius: 30px;
        position: relative;
    }
    #containerLogin , #containerCreate, #containerForgot
    {
        width: fit-content;
        text-align: center;
    }
    #containerAbout
    {
        color: black;
        margin: auto;
        position: relative;
        min-width: 500px;
        width: 95%;
        font-size: 12px;
    }
    .left-side, .right-side
    {
        padding: 5px;
        width: 60%;
        text-align: center;
        margin-top: 15px;
    }
    .left-side
    {
        margin-left: 5%;
        margin-right: auto;
    }
    .right-side
    {
        margin-right: 5%;
        margin-left: auto;
    }
    .stripedTemplate {

        width: 60%;
    }
    .primaryBox {
        background-color: #e38459;
        border: 20px solid  #e38459;
        text-align: center;
    }
    .top{
        background-color: black;
        padding: 3px;
        border-left: 20px solid black;
        border-right: 20px solid black;
        width: 100%;
        margin-left: -7%;
        transform: translateY(300%);
        border-radius: 50%;
    }

    .bottom{
        background-color: black;
        padding: 3px;
        border-left: 20px solid black;
        border-right: 20px solid black;
        width: 100%;
        margin-left: 7%;
        transform: translateY(-300%);
        border-radius: 50%;
    }

    .upperMiddle {
        transform: translateY(500%);
        margin-left: 7%;
    }

    .lowerMiddle {
        transform: translateY(-500%);
        margin-left: -7%;
    }
    /* -------------------------------------------------------------------------------------- */

    /* ---------------------------------------Buttons---------------------------------------  */
    /* -----------------------------Nav buttons-----------------------------*/
    .Button_Nav
    {
        position: relative;
        display: flex;
        align-items: center;
        width: 120px;
        height: 50px;
        float: right;
        white-space: nowrap;
        font-size: 15px;
    }
    .icon
    {
        width: 0;
        transition: 0.3s;
    }
    .Label_Nav
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }
    /* ------------Login page & Create new account page buttons------------*/
    .Button_Form
    {
        padding: 6px;
        font-size: 15px;
    }
    .Login_Button, .Clear_Button
    {
        width: 100px;
        margin: 12px 85px;
    }
    .Create_Button, .Forgot_Button
    {
        width: 220px;
        margin: 12px;
    }

    /* ----------------------------Button color----------------------------*/
    .Button_Nav, .Button_Form, .CreateInput, .LoginInput, .ForgotInput
    {
        background-color: #e6733e;
        border: 2px solid #e6733e;
        border-radius: 35px;
        text-align: center;
        color: black;
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }
    /* ----------------------------Button hover----------------------------*/
    .Button_Nav:hover, .Button_Form:hover

    {
        background-color: #e38459;
        border: 2px solid #e38459;
    }
    .Button_Nav:hover
    {
        width: 150px;
    }
    .Button_Nav:hover .icon
    {
        width: 30px;
    }
    .Button_Nav:hover .Label_Nav
    {
        margin-left: 15px;
    }
    /* ----------------------------Input hover----------------------------*/
    .CreateInput, .LoginInput, .ForgotInput
    {
        background-color: #e6733e;
        width: 300px;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
    }
    .CreateInput:focus, .LoginInput:focus, .ForgotInput:focus
    {
        outline-color: #e38459;
    }
}

/* ---------------------------------------- For desktop -----------------------------------------------------*/

@media (min-width: 1024px) {
    /* --------------------------------------Scroll Bar-------------------------------------- */
    ::-webkit-scrollbar
    {
        width: 10px;
    }
    ::-webkit-scrollbar-track
    {
        background-color: #e6733e;
    }
    ::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        background-color: #BE4B16;
    }
    /* -------------------------------------------------------------------------------------- */
    body
    {
        background-image: url("Images/Wallpaper/WallpaperDesktop.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow-y: scroll;
    }
    h1
    {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 40px;
    }
    h2
    {
        font-size: 30px;
    }
    p
    {
        font-size: 25px;
    }
    #logo
    {
        height: 60px;
    }

    /* --------------------------------------Navigation-------------------------------------- */
    #Home_Nav
    {
        width: 100%;
        height: 60px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    /* -------------------------------------------------------------------------------------- */
    /* --------------------------------------Containers-------------------------------------- */
    #containerLogin, #containerCreate, #containerForgot
    {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        height: auto;
        margin: auto;
        padding: 30px;
        border-radius: 30px;
        position: relative;
    }
    #containerLogin , #containerCreate, #containerForgot
    {
        width: fit-content;
        text-align: center;
    }
    #containerAbout
    {
        color: black;
        margin: auto;
        position: relative;
        min-width: 1000px;
        font-size: 17px;
    }
    .left-side, .right-side
    {
        padding: 15px;
        width: 60%;
        margin-top: 20px;
    }
    .left-side
    {
        margin-left: 10%;
        margin-right: auto;
    }
    .right-side
    {
        margin-right: 10%;
        margin-left: auto;
    }
    .stripedTemplate {

        width: 60%;
    }
    .primaryBox {
        background-color: #e38459;
        border: 20px solid  #e38459;
        text-align: center;
    }
    .top{
        background-color: black;
        padding: 3px;
        border-left: 20px solid black;
        border-right: 20px solid black;
        width: 100%;
        margin-left: -7%;
        transform: translateY(300%);
        border-radius: 50%;
    }

    .bottom{
        background-color: black;
        padding: 3px;
        border-left: 20px solid black;
        border-right: 20px solid black;
        width: 100%;
        margin-left: 7%;
        transform: translateY(-300%);
        border-radius: 50%;
    }

    .upperMiddle {
        transform: translateY(500%);
        margin-left: 7%;
    }

    .lowerMiddle {
        transform: translateY(-500%);
        margin-left: -7%;
    }
    /* -------------------------------------------------------------------------------------- */

    /* ---------------------------------------Buttons---------------------------------------  */
    /* -----------------------------Nav buttons-----------------------------*/
    .Button_Nav
    {
        position: relative;
        display: flex;
        align-items: center;
        width: 200px;
        height: 60px;
        float: right;
        white-space: nowrap;
        font-size: 18px;
    }
    .icon
    {
        width: 0;
        transition: 0.3s;
    }
    .Label_Nav
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }
    /* ------------Login page & Create new account page buttons------------*/
    .Button_Form
    {
        padding: 6px;
        font-size: 16px;
    }
    .Login_Button, .Clear_Button
    {
        width: 100px;
        margin: 12px 85px;
    }
    .Create_Button, .Forgot_Button
    {
        width: 220px;
        margin: 12px;
    }

    /* ----------------------------Button color----------------------------*/
    .Button_Nav, .Button_Form, .CreateInput, .LoginInput, .ForgotInput
    {
        background-color: #e38459;
        border: 2px solid #e38459;
        border-radius: 35px;
        text-align: center;
        color: black;
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }
    /* ----------------------------Button hover----------------------------*/
    .Button_Nav:hover, .Button_Form:hover

    {
        background-color: #e6733e;
        border: 2px solid #e6733e;
    }
    .Button_Nav:hover
    {
        width: 250px;
    }
    .Button_Nav:hover .icon
    {
        width: 50px;
    }
    .Button_Nav:hover .Label_Nav
    {
        margin-left: 25px;
    }
    /* ----------------------------Input hover----------------------------*/
    .CreateInput, .LoginInput, .ForgotInput
    {
        background-color: #e6733e;
        width: 450px;
        margin: 15px;
        padding: 10px;
        font-size: 17px;
    }
    .CreateInput:focus, .LoginInput:focus, .ForgotInput:focus
    {
        outline-color: #e38459;
    }
    /* -------------------------------------------------------------------------------------  */
}